<div class="flex min-h-screen w-full items-center relative">
  <div class="w-1/2 h-full">
    <img [src]="imagePath" alt="" class="w-full h-full" />
  </div>

  <div class="w-1/2 h-full py-12">
    <h1 class="text-5xl font-extrabold mb-12">SignUp with Ticky</h1>
    <div class="flex gap-4 flex-col px-20">
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="form"
        class="flex gap-8 flex-col"
      >
        <div class="relative">
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fa-solid fa-user"></i
            ></span>
            <div class="form-floating">
              <input
                class="form-control py-[0.6rem] focus:shadow-none {{
                  isInvalidFirstName && 'border-red-500'
                }}"
                id="firstName"
                formControlName="firstName"
                placeholder="First Name"
                type="text"
              />
              <label for="firstName">First Name</label>
            </div>
          </div>
          @if (isInvalidFirstName) {
          <div>
            <span class="absolute text-red-500 -bottom-6 text-sm font-semibold"
              >Oops! You forgot to enter your first name.</span
            >
          </div>
          }
        </div>

        <div class="relative">
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fa-solid fa-user"></i
            ></span>
            <div class="form-floating">
              <input
                class="form-control py-[0.6rem] focus:shadow-none {{
                  isInvalidLastName && 'border-red-500'
                }}"
                id="lastName"
                formControlName="lastName"
                placeholder="Last Name"
                type="text"
              />
              <label for="lastName">Last Name</label>
            </div>
          </div>
          @if (isInvalidLastName) {
          <div>
            <span class="absolute text-red-500 -bottom-6 text-sm font-semibold"
              >Oops! You forgot to enter your last name.</span
            >
          </div>
          }
        </div>

        <div class="relative">
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fa-solid fa-envelope"></i
            ></span>
            <div class="form-floating">
              <input
                class="form-control py-[0.6rem] focus:shadow-none {{
                  isInvalidEmail && 'border-red-500'
                }}"
                id="email"
                formControlName="email"
                placeholder="Email"
                type="email"
              />
              <label for="email">Email</label>
            </div>
          </div>
          @if (isInvalidEmail) {
          <div>
            <span class="absolute text-red-500 -bottom-6 text-sm font-semibold"
              >Oops! You forgot to enter a valid email.</span
            >
          </div>
          }
        </div>

        <div class="relative">
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fa-solid fa-lock"></i
            ></span>
            <div class="form-floating">
              <input
                class="form-control py-[0.6rem] focus:shadow-none {{
                  isInvalidPassword && 'border-red-500'
                }}"
                id="password"
                formControlName="password"
                placeholder="Password"
                type="password"
              />
              <label for="password">Password</label>
            </div>
          </div>
          @if (isInvalidPassword) {
          <div>
            <span class="absolute text-red-500 -bottom-6 text-sm font-semibold"
              >Oops! You forgot to enter your password.</span
            >
          </div>
          }
        </div>

        <div class="relative">
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fa-solid fa-phone"></i
            ></span>
            <div class="form-floating">
              <input
                class="form-control py-[0.6rem] focus:shadow-none {{
                  isInvalidPhoneNumber && 'border-red-500'
                }}"
                formControlName="phoneNumber"
                placeholder="Phone Number"
                type="tel"
              />
              <label for="phoneNumber">Phone Number</label>
            </div>
          </div>
          @if (isInvalidPhoneNumber) {
          <div>
            <span class="absolute text-red-500 -bottom-6 text-sm font-semibold"
              >Oops! You forgot to enter your phone number.</span
            >
          </div>
          }
        </div>

        <div class="dropdown">
          <button
            aria-expanded="false"
            class="btn border py-[0.6rem] dropdown-toggle"
            data-bs-toggle="dropdown"
            type="button"
          >
            {{ selectedRole || "Select your Role" }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <span
                (click)="onSelectRole('ROLE_CUSTOMER')"
                class="dropdown-item cursor-pointer"
                >ROLE CUSTOMER</span
              >
            </li>
            <li>
              <span
                (click)="onSelectRole('ROLE_VENDOR')"
                class="dropdown-item cursor-pointer"
                >ROLE VENDOR</span
              >
            </li>
          </ul>
        </div>

        <button
          [disabled]="form.invalid || !selectedRole"
          class="btn btn-primary btn-lg font-semibold space-x-2"
          type="submit"
        >
          @if (isLoading()) {
          <span
            class="spinner-border spinner-border-sm"
            aria-hidden="true"
          ></span>
          <span role="status">Submitting...</span>
          } @else {
          <span role="status">Sign Up</span>
          }
        </button>
      </form>
      <span
        >Already have an account?
        <a class="text-[#4180ee] hover:underline" routerLink="/auth/login"
          >Log In</a
        ></span
      >
    </div>
  </div>
</div>
