<main class="mt-32 min-h-screen p-8">
  <section>
    <h2 class="font-semibold text-2xl mb-8">My Tickets</h2>
    @if (isLoading()) {
        <app-laoding-spinner />
      } 
      
      @else if (error()) {
       <app-alert [message]="error()" />
      }
      
      @else { 
        <div class="flex gap-4 flex-wrap justify-center items-center">
            @for (ticket of userTickets(); track ticket.id) {
                <app-ticket [ticket]="ticket" />
            }
        </div>
      }
  </section>
</main>
