<div class="flex justify-center">
  <div class="border-4 border-blue-600 p-3 rounded-md w-fit">
    <div>
      <img
        src="/assets/images/logo.png"
        class="h-16 object-cover m-auto"
        alt=""
      />
    </div>

    <h1 class="text-xl text-center font-semibold mb-2">
      {{ ticket().event.name }}
    </h1>

    <div class="flex gap-4 flex-col items-center mb-8">
      <span class="badge text-sm text-bg-info">Price</span>
      <h1 class="text-center font-extrabold text-5xl">
        {{ ticket().price | currency : "LKR" : "symbol" : "1.2-2" }}
      </h1>
    </div>

    <div class="space-y-3">
      <h4>Purchase Time</h4>
      <div class="flex gap-4 justify-center items-center">
        <h1 class="text-xl text-center font-semibold mb-2">
          {{ ticket().purchaseTimestamp | date : "shortDate" }}
        </h1>
        <h1 class="text-xl text-center font-semibold mb-2">
          {{ ticket().purchaseTimestamp | date : "shortTime" }}
        </h1>
      </div>
    </div>
  </div>
</div>
